<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    


<servlet><servlet-name>drop</servlet-name><servlet-class>drop</servlet-class></servlet><servlet-mapping><servlet-name>drop</servlet-name><url-pattern>/servlet/drop</url-pattern></servlet-mapping>
<servlet><servlet-name>dellcategoryid3</servlet-name><servlet-class>dellcategoryid3</servlet-class></servlet><servlet-mapping><servlet-name>dellcategoryid3</servlet-name><url-pattern>/servlet/dellcategoryid3</url-pattern></servlet-mapping>



<servlet><servlet-name>login</servlet-name><servlet-class>login</servlet-class></servlet><servlet-mapping><servlet-name>login</servlet-name><url-pattern>/servlet/login</url-pattern></servlet-mapping>
<servlet><servlet-name>registration</servlet-name><servlet-class>registration</servlet-class></servlet><servlet-mapping><servlet-name>registration</servlet-name><url-pattern>/servlet/registration</url-pattern></servlet-mapping>
<servlet><servlet-name>conformregistration</servlet-name><servlet-class>conformregistration</servlet-class></servlet><servlet-mapping><servlet-name>conformregistration</servlet-name><url-pattern>/servlet/conformregistration</url-pattern></servlet-mapping>
<servlet><servlet-name>checkout</servlet-name><servlet-class>checkout</servlet-class></servlet><servlet-mapping><servlet-name>checkout</servlet-name> <url-pattern>/servlet/checkout</url-pattern></servlet-mapping>

<servlet> <servlet-name>manu</servlet-name><servlet-class>manu</servlet-class></servlet><servlet-mapping><servlet-name>manu</servlet-name><url-pattern>/servlet/manu</url-pattern> </servlet-mapping>
<servlet><servlet-name>extent_manu</servlet-name><servlet-class>extent_manu</servlet-class></servlet><servlet-mapping><servlet-name>extent_manu</servlet-name><url-pattern>/servlet/extent_manu</url-pattern></servlet-mapping>
<servlet><servlet-name>manu1</servlet-name><servlet-class>manu1</servlet-class></servlet><servlet-mapping><servlet-name>manu1</servlet-name><url-pattern>/servlet/manu1</url-pattern></servlet-mapping>
<servlet><servlet-name>manu2</servlet-name><servlet-class>manu2</servlet-class></servlet><servlet-mapping><servlet-name>manu2</servlet-name><url-pattern>/servlet/manu2</url-pattern></servlet-mapping>
<servlet><servlet-name>manu3</servlet-name><servlet-class>manu3</servlet-class></servlet><servlet-mapping><servlet-name>manu3</servlet-name><url-pattern>/servlet/manu3</url-pattern></servlet-mapping>
<servlet><servlet-name>manu4</servlet-name><servlet-class>manu4</servlet-class></servlet><servlet-mapping><servlet-name>manu4</servlet-name><url-pattern>/servlet/manu4</url-pattern></servlet-mapping>
<servlet><servlet-name>manu5</servlet-name><servlet-class>manu5</servlet-class></servlet><servlet-mapping><servlet-name>manu5</servlet-name><url-pattern>/servlet/manu5</url-pattern></servlet-mapping>
<servlet><servlet-name>manu6</servlet-name><servlet-class>manu6</servlet-class></servlet><servlet-mapping><servlet-name>manu6</servlet-name><url-pattern>/servlet/manu6</url-pattern></servlet-mapping>
<servlet><servlet-name>manu7</servlet-name><servlet-class>manu7</servlet-class></servlet><servlet-mapping><servlet-name>manu7</servlet-name><url-pattern>/servlet/manu7</url-pattern></servlet-mapping>

<servlet><servlet-name>frame</servlet-name><servlet-class>frame</servlet-class></servlet><servlet-mapping><servlet-name>frame</servlet-name><url-pattern>/servlet/frame</url-pattern></servlet-mapping>
<servlet><servlet-name>frame1</servlet-name><servlet-class>frame1</servlet-class></servlet><servlet-mapping><servlet-name>frame1</servlet-name><url-pattern>/servlet/frame1</url-pattern></servlet-mapping>
<servlet><servlet-name>frame2</servlet-name><servlet-class>frame2</servlet-class></servlet><servlet-mapping><servlet-name>frame2</servlet-name><url-pattern>/servlet/frame2</url-pattern></servlet-mapping>
<servlet><servlet-name>frame3</servlet-name><servlet-class>frame3</servlet-class></servlet><servlet-mapping><servlet-name>frame3</servlet-name><url-pattern>/servlet/frame3</url-pattern></servlet-mapping>
<servlet><servlet-name>frame4</servlet-name><servlet-class>frame4</servlet-class></servlet><servlet-mapping><servlet-name>frame4</servlet-name><url-pattern>/servlet/frame4</url-pattern></servlet-mapping>
<servlet><servlet-name>frame6</servlet-name><servlet-class>frame6</servlet-class></servlet><servlet-mapping><servlet-name>frame6</servlet-name><url-pattern>/servlet/frame6</url-pattern></servlet-mapping>
<servlet><servlet-name>delframe</servlet-name><servlet-class>delframe</servlet-class></servlet><servlet-mapping><servlet-name>delframe</servlet-name><url-pattern>/servlet/delframe</url-pattern></servlet-mapping>
<servlet><servlet-name>adminframe</servlet-name><servlet-class>adminframe</servlet-class></servlet><servlet-mapping><servlet-name>adminframe</servlet-name><url-pattern>/servlet/adminframe</url-pattern></servlet-mapping>

<servlet><servlet-name>navigation</servlet-name><servlet-class>navigation</servlet-class></servlet><servlet-mapping><servlet-name>navigation</servlet-name><url-pattern>/servlet/navigation</url-pattern></servlet-mapping>
<servlet><servlet-name>window</servlet-name><servlet-class>window</servlet-class></servlet><servlet-mapping><servlet-name>window</servlet-name><url-pattern>/servlet/window</url-pattern></servlet-mapping>
<servlet><servlet-name>window1</servlet-name><servlet-class>window1</servlet-class></servlet><servlet-mapping><servlet-name>window1</servlet-name><url-pattern>/servlet/window1</url-pattern></servlet-mapping>

<servlet><servlet-name>updatewindow</servlet-name><servlet-class>updatewindow</servlet-class></servlet><servlet-mapping><servlet-name>updatewindow</servlet-name><url-pattern>/servlet/updatewindow</url-pattern></servlet-mapping>

<servlet><servlet-name>category1</servlet-name><servlet-class>category1</servlet-class></servlet><servlet-mapping><servlet-name>category1</servlet-name><url-pattern>/servlet/category1</url-pattern></servlet-mapping>
<servlet><servlet-name>category2</servlet-name><servlet-class>category2</servlet-class></servlet><servlet-mapping><servlet-name>category2</servlet-name><url-pattern>/servlet/category2</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid2</servlet-name><servlet-class>categoryid2</servlet-class></servlet><servlet-mapping><servlet-name>categoryid2</servlet-name><url-pattern>/servlet/categoryid2</url-pattern></servlet-mapping>

<servlet><servlet-name>cat1updatename</servlet-name><servlet-class>cat1updatename</servlet-class></servlet><servlet-mapping><servlet-name>cat1updatename</servlet-name><url-pattern>/servlet/cat1updatename</url-pattern></servlet-mapping>

<servlet><servlet-name>category30</servlet-name><servlet-class>category30</servlet-class></servlet><servlet-mapping><servlet-name>category30</servlet-name><url-pattern>/servlet/category30</url-pattern></servlet-mapping>
<servlet><servlet-name>category6add</servlet-name><servlet-class>category6add</servlet-class></servlet><servlet-mapping><servlet-name>category6add</servlet-name><url-pattern>/servlet/category6add</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39</servlet-name><servlet-class>category30_39</servlet-class></servlet><servlet-mapping><servlet-name>category30_39</servlet-name><url-pattern>/servlet/category30_39</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39_3</servlet-name><servlet-class>category30_39_3</servlet-class></servlet><servlet-mapping><servlet-name>category30_39_3</servlet-name><url-pattern>/servlet/category30_39_3</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39id2</servlet-name><servlet-class>category30_39id2</servlet-class></servlet><servlet-mapping><servlet-name>category30_39id2</servlet-name><url-pattern>/servlet/category30_39id2</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39_6</servlet-name><servlet-class>category30_39_6</servlet-class></servlet><servlet-mapping><servlet-name>category30_39_6</servlet-name><url-pattern>/servlet/category30_39_6</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39_6id2update</servlet-name><servlet-class>category30_39_6id2update</servlet-class></servlet><servlet-mapping><servlet-name>category30_39_6id2update</servlet-name><url-pattern>/servlet/category30_39_6id2update</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39_6_id2</servlet-name><servlet-class>category30_39_6_id2</servlet-class></servlet><servlet-mapping><servlet-name>category30_39_6_id2</servlet-name><url-pattern>/servlet/category30_39_6_id2</url-pattern></servlet-mapping>
<servlet><servlet-name>category30_39_table6</servlet-name><servlet-class>category30_39_table6</servlet-class></servlet><servlet-mapping><servlet-name>category30_39_table6</servlet-name><url-pattern>/servlet/category30_39_table6</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6_30change</servlet-name><servlet-class>categoryid6_30change</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6_30change</servlet-name><url-pattern>/servlet/categoryid6_30change</url-pattern></servlet-mapping>
<servlet><servlet-name>cat2nameupdate</servlet-name><servlet-class>cat2nameupdate</servlet-class></servlet><servlet-mapping><servlet-name>cat2nameupdate</servlet-name><url-pattern>/servlet/cat2nameupdate</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid2change</servlet-name><servlet-class>categoryid2change</servlet-class></servlet><servlet-mapping><servlet-name>categoryid2change</servlet-name><url-pattern>/servlet/categoryid2change</url-pattern></servlet-mapping>
<servlet><servlet-name>cat1updateid</servlet-name><servlet-class>cat1updateid</servlet-class></servlet><servlet-mapping><servlet-name>cat1updateid</servlet-name><url-pattern>/servlet/cat1updateid</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid1updatename</servlet-name><servlet-class>categoryid1updatename</servlet-class></servlet><servlet-mapping><servlet-name>categoryid1updatename</servlet-name><url-pattern>/servlet/categoryid1updatename</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6change</servlet-name><servlet-class>categoryid6change</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6change</servlet-name><url-pattern>/servlet/categoryid6change</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6changequantity</servlet-name><servlet-class>categoryid6changequantity</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6changequantity</servlet-name><url-pattern>/servlet/categoryid6changequantity</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6changeprice</servlet-name><servlet-class>categoryid6changeprice</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6changeprice</servlet-name><url-pattern>/servlet/categoryid6changeprice</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6changeprocountry</servlet-name><servlet-class>categoryid6changeprocountry</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6changeprocountry</servlet-name><url-pattern>/servlet/categoryid6changeprocountry</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6changeproregion</servlet-name><servlet-class>categoryid6changeproregion</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6changeproregion</servlet-name><url-pattern>/servlet/categoryid6changeproregion</url-pattern></servlet-mapping>
<servlet><servlet-name>categoryid6changedaysbefore</servlet-name><servlet-class>categoryid6changedaysbefore</servlet-class></servlet><servlet-mapping><servlet-name>categoryid6changedaysbefore</servlet-name><url-pattern>/servlet/categoryid6changedaysbefore</url-pattern></servlet-mapping>








<servlet><servlet-name>FileUploadServletladies</servlet-name><servlet-class>FileUploadServletladies</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletladies</servlet-name><url-pattern>/servlet/FileUploadServletladies</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_id2</servlet-name><servlet-class>FileUploadServlet_id2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_id2</servlet-name><url-pattern>/servlet/FileUploadServlet_id2</url-pattern></servlet-mapping>


<servlet><servlet-name>FileUploadServlet</servlet-name><servlet-class>FileUploadServlet</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet</servlet-name><url-pattern>/servlet/FileUploadServlet</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_1</servlet-name><servlet-class>FileUploadServlet_1</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_1</servlet-name><url-pattern>/servlet/FileUploadServlet_1</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_2</servlet-name><servlet-class>FileUploadServlet_2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_2</servlet-name><url-pattern>/servlet/FileUploadServlet_2</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_3</servlet-name><servlet-class>FileUploadServlet_3</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_3</servlet-name><url-pattern>/servlet/FileUploadServlet_3</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_4</servlet-name><servlet-class>FileUploadServlet_4</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_4</servlet-name><url-pattern>/servlet/FileUploadServlet_4</url-pattern></servlet-mapping>

<servlet><servlet-name>FileUploadServlet_from_1_19</servlet-name><servlet-class>FileUploadServlet_from_1_19</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_from_1_19</servlet-name><url-pattern>/servlet/FileUploadServlet_from_1_19</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_from_1_19_1</servlet-name><servlet-class>FileUploadServlet_from_1_19_1</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_from_1_19_1</servlet-name><url-pattern>/servlet/FileUploadServlet_from_1_19_1</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_from_1_19_2</servlet-name><servlet-class>FileUploadServlet_from_1_19_2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_from_1_19_2</servlet-name><url-pattern>/servlet/FileUploadServlet_from_1_19_2</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_from_1_19_3</servlet-name><servlet-class>FileUploadServlet_from_1_19_3</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_from_1_19_3</servlet-name><url-pattern>/servlet/FileUploadServlet_from_1_19_3</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_from_1_19_4</servlet-name><servlet-class>FileUploadServlet_from_1_19_4</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_from_1_19_4</servlet-name><url-pattern>/servlet/FileUploadServlet_from_1_19_4</url-pattern></servlet-mapping>


<servlet><servlet-name>FileUploadServletfrom20_45</servlet-name><servlet-class>FileUploadServletfrom20_45</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom20_45</servlet-name><url-pattern>/servlet/FileUploadServletfrom20_45</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_id2_from20</servlet-name><servlet-class>FileUploadServlet_id2_from20</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_id2_from20</servlet-name><url-pattern>/servlet/FileUploadServlet_id2_from20</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom20_2</servlet-name><servlet-class>FileUploadServletfrom20_2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom20_2</servlet-name><url-pattern>/servlet/FileUploadServletfrom20_2</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom20_3</servlet-name><servlet-class>FileUploadServletfrom20_3</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom20_3</servlet-name><url-pattern>/servlet/FileUploadServletfrom20_3</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom20_4</servlet-name><servlet-class>FileUploadServletfrom20_4</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom20_4</servlet-name><url-pattern>/servlet/FileUploadServletfrom20_4</url-pattern></servlet-mapping>



<servlet><servlet-name>FileUploadServletfrom46_71</servlet-name><servlet-class>FileUploadServletfrom46_71</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom46_71</servlet-name><url-pattern>/servlet/FileUploadServletfrom46_71</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom46_71_1</servlet-name><servlet-class>FileUploadServletfrom46_71_1</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom46_71_1</servlet-name><url-pattern>/servlet/FileUploadServletfrom46_71_1</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom46_71_2</servlet-name><servlet-class>FileUploadServletfrom46_71_2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom46_71_2</servlet-name><url-pattern>/servlet/FileUploadServletfrom46_71_2</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom46_71_3</servlet-name><servlet-class>FileUploadServletfrom46_71_3</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom46_71_3</servlet-name><url-pattern>/servlet/FileUploadServletfrom46_71_3</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom46_71_4</servlet-name><servlet-class>FileUploadServletfrom46_71_4</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom46_71_4</servlet-name><url-pattern>/servlet/FileUploadServletfrom46_71_4</url-pattern></servlet-mapping>

<servlet><servlet-name>FileUploadServlet_id2_from72</servlet-name><servlet-class>FileUploadServlet_id2_from72</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_id2_from72</servlet-name><url-pattern>/servlet/FileUploadServlet_id2_from72</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom72_90</servlet-name><servlet-class>FileUploadServletfrom72_90</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom72_90</servlet-name><url-pattern>/servlet/FileUploadServletfrom72_90</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom72_90_1</servlet-name><servlet-class>FileUploadServletfrom72_90_1</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom72_90_1</servlet-name><url-pattern>/servlet/FileUploadServletfrom72_90_1</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom72_90_2</servlet-name><servlet-class>FileUploadServletfrom72_90_2</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom72_90_2</servlet-name><url-pattern>/servlet/FileUploadServletfrom72_90_2</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom72_90_3</servlet-name><servlet-class>FileUploadServletfrom72_90_3</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom72_90_3</servlet-name><url-pattern>/servlet/FileUploadServletfrom72_90_3</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServletfrom72_90_4</servlet-name><servlet-class>FileUploadServletfrom72_90_4</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServletfrom72_90_4</servlet-name><url-pattern>/servlet/FileUploadServletfrom72_90_4</url-pattern></servlet-mapping>
<servlet><servlet-name>FileUploadServlet_list1</servlet-name><servlet-class>FileUploadServlet_list1</servlet-class></servlet><servlet-mapping><servlet-name>FileUploadServlet_list1</servlet-name><url-pattern>/servlet/FileUploadServlet_list1</url-pattern></servlet-mapping>


<servlet><servlet-name>id3window</servlet-name><servlet-class>id3window</servlet-class></servlet><servlet-mapping><servlet-name>id3window</servlet-name><url-pattern>/servlet/id3window</url-pattern></servlet-mapping>
<servlet><servlet-name>itemlist</servlet-name><servlet-class>itemlist</servlet-class></servlet><servlet-mapping><servlet-name>itemlist</servlet-name><url-pattern>/servlet/itemlist</url-pattern></servlet-mapping>
<servlet><servlet-name>insertcategory_1_10</servlet-name><servlet-class>insertcategory_1_10</servlet-class></servlet><servlet-mapping><servlet-name>insertcategory_1_10</servlet-name><url-pattern>/servlet/insertcategory_1_10</url-pattern></servlet-mapping>
<servlet><servlet-name>insertcategory6</servlet-name><servlet-class>insertcategory6</servlet-class></servlet><servlet-mapping><servlet-name>insertcategory6</servlet-name><url-pattern>/servlet/insertcategory6</url-pattern></servlet-mapping>


<servlet><servlet-name>totalprice</servlet-name><servlet-class>totalprice</servlet-class></servlet><servlet-mapping><servlet-name>totalprice</servlet-name><url-pattern>/servlet/totalprice</url-pattern></servlet-mapping>
<servlet><servlet-name>cccat3</servlet-name><servlet-class>cccat3</servlet-class></servlet><servlet-mapping><servlet-name>cccat3</servlet-name><url-pattern>/servlet/cccat3</url-pattern></servlet-mapping>
<servlet><servlet-name>cancle</servlet-name><servlet-class>cancle</servlet-class></servlet><servlet-mapping><servlet-name>cancle</servlet-name><url-pattern>/servlet/cancle</url-pattern></servlet-mapping>
<servlet><servlet-name>canclepid</servlet-name><servlet-class>canclepid</servlet-class></servlet><servlet-mapping><servlet-name>canclepid</servlet-name><url-pattern>/servlet/canclepid</url-pattern></servlet-mapping>


<servlet><servlet-name>compear</servlet-name><servlet-class>compear</servlet-class></servlet><servlet-mapping><servlet-name>compear</servlet-name><url-pattern>/servlet/compear</url-pattern></servlet-mapping>
<servlet><servlet-name>category2add</servlet-name><servlet-class>category2add</servlet-class></servlet><servlet-mapping><servlet-name>category2add</servlet-name><url-pattern>/servlet/category2add</url-pattern></servlet-mapping>
<servlet><servlet-name>changeproduct</servlet-name><servlet-class>changeproduct</servlet-class></servlet><servlet-mapping><servlet-name>changeproduct</servlet-name><url-pattern>/servlet/changeproduct</url-pattern></servlet-mapping>
<servlet><servlet-name>emptycustomer</servlet-name><servlet-class>emptycustomer</servlet-class></servlet><servlet-mapping><servlet-name>emptycustomer</servlet-name><url-pattern>/servlet/emptycustomer</url-pattern></servlet-mapping>
<servlet><servlet-name>customerinput</servlet-name><servlet-class>customerinput</servlet-class></servlet><servlet-mapping><servlet-name>customerinput</servlet-name><url-pattern>/servlet/customerinput</url-pattern></servlet-mapping>
<servlet><servlet-name>customer</servlet-name><servlet-class>customer</servlet-class></servlet><servlet-mapping><servlet-name>customer</servlet-name><url-pattern>/servlet/customer</url-pattern></servlet-mapping>

<servlet><servlet-name>downloadprogram1</servlet-name><servlet-class>downloadprogram1</servlet-class></servlet><servlet-mapping><servlet-name>downloadprogram1</servlet-name><url-pattern>/servlet/downloadprogram1</url-pattern></servlet-mapping>
<servlet><servlet-name>receipt</servlet-name><servlet-class>receipt</servlet-class></servlet><servlet-mapping><servlet-name>receipt</servlet-name><url-pattern>/servlet/receipt</url-pattern></servlet-mapping>
<servlet><servlet-name>receiptclear</servlet-name><servlet-class>receiptclear</servlet-class></servlet><servlet-mapping><servlet-name>receiptclear</servlet-name><url-pattern>/servlet/receiptclear</url-pattern></servlet-mapping>
<servlet><servlet-name>deletesold</servlet-name><servlet-class>deletesold</servlet-class></servlet><servlet-mapping><servlet-name>deletesold</servlet-name><url-pattern>/servlet/deletesold</url-pattern></servlet-mapping>
<servlet><servlet-name>DownloadServlet2</servlet-name><servlet-class>DownloadServlet2</servlet-class></servlet><servlet-mapping><servlet-name>DownloadServlet2</servlet-name><url-pattern>/servlet/DownloadServlet2</url-pattern></servlet-mapping>



<servlet><servlet-name>pronameupdateid3</servlet-name><servlet-class>pronameupdateid3</servlet-class></servlet><servlet-mapping><servlet-name>pronameupdateid3</servlet-name><url-pattern>/servlet/pronameupdateid3</url-pattern></servlet-mapping>
<servlet><servlet-name>paymentmode</servlet-name><servlet-class>paymentmode</servlet-class></servlet><servlet-mapping><servlet-name>paymentmode</servlet-name><url-pattern>/servlet/paymentmode</url-pattern></servlet-mapping>
<servlet><servlet-name>priceupdate</servlet-name><servlet-class>priceupdate</servlet-class></servlet><servlet-mapping><servlet-name>priceupdate</servlet-name><url-pattern>/servlet/priceupdate</url-pattern></servlet-mapping>
<servlet><servlet-name>procountry_cat3</servlet-name><servlet-class>procountry_cat3</servlet-class></servlet><servlet-mapping><servlet-name>procountry_cat3</servlet-name><url-pattern>/servlet/procountry_cat3</url-pattern></servlet-mapping>
<servlet><servlet-name>proregion_cat3</servlet-name><servlet-class>proregion_cat3</servlet-class></servlet><servlet-mapping><servlet-name>proregion_cat3</servlet-name><url-pattern>/servlet/proregion_cat3</url-pattern></servlet-mapping>
<servlet><servlet-name>producttype_cat3</servlet-name><servlet-class>producttype_cat3</servlet-class></servlet><servlet-mapping><servlet-name>producttype_cat3</servlet-name><url-pattern>/servlet/producttype_cat3</url-pattern></servlet-mapping>
<servlet><servlet-name>producttype_cat6</servlet-name><servlet-class>producttype_cat6</servlet-class></servlet><servlet-mapping><servlet-name>producttype_cat6</servlet-name><url-pattern>/servlet/producttype_cat6</url-pattern></servlet-mapping>






<servlet><servlet-name>classic1</servlet-name><servlet-class>classic1</servlet-class></servlet><servlet-mapping><servlet-name>classic1</servlet-name><url-pattern>/servlet/classic1</url-pattern></servlet-mapping>
<servlet><servlet-name>classic2</servlet-name><servlet-class>classic2</servlet-class></servlet><servlet-mapping><servlet-name>classic2</servlet-name><url-pattern>/servlet/classic2</url-pattern></servlet-mapping>

<servlet><servlet-name>classic11</servlet-name><servlet-class>classic11</servlet-class></servlet><servlet-mapping><servlet-name>classic11</servlet-name><url-pattern>/servlet/classic11</url-pattern></servlet-mapping>
<servlet><servlet-name>classic12</servlet-name><servlet-class>classic12</servlet-class></servlet><servlet-mapping><servlet-name>classic12</servlet-name><url-pattern>/servlet/classic12</url-pattern></servlet-mapping>
<servlet><servlet-name>classic13</servlet-name><servlet-class>classic13</servlet-class></servlet><servlet-mapping><servlet-name>classic13</servlet-name><url-pattern>/servlet/classic13</url-pattern></servlet-mapping>
<servlet><servlet-name>classic14</servlet-name><servlet-class>classic14</servlet-class></servlet><servlet-mapping><servlet-name>classic14</servlet-name><url-pattern>/servlet/classic14</url-pattern></servlet-mapping>
<servlet><servlet-name>classic15</servlet-name><servlet-class>classic15</servlet-class></servlet><servlet-mapping><servlet-name>classic15</servlet-name><url-pattern>/servlet/classic15</url-pattern></servlet-mapping>
<servlet><servlet-name>classic16</servlet-name><servlet-class>classic16</servlet-class></servlet><servlet-mapping><servlet-name>classic16</servlet-name><url-pattern>/servlet/classic16</url-pattern></servlet-mapping>
<servlet><servlet-name>classic17</servlet-name><servlet-class>classic17</servlet-class></servlet><servlet-mapping><servlet-name>classic17</servlet-name><url-pattern>/servlet/classic17</url-pattern></servlet-mapping>
<servlet><servlet-name>classic18</servlet-name><servlet-class>classic18</servlet-class></servlet><servlet-mapping><servlet-name>classic18</servlet-name><url-pattern>/servlet/classic18</url-pattern></servlet-mapping>
<servlet><servlet-name>classic19</servlet-name><servlet-class>classic19</servlet-class></servlet><servlet-mapping><servlet-name>classic19</servlet-name><url-pattern>/servlet/classic19</url-pattern></servlet-mapping>

<servlet><servlet-name>classic20</servlet-name><servlet-class>classic20</servlet-class></servlet><servlet-mapping><servlet-name>classic20</servlet-name><url-pattern>/servlet/classic20</url-pattern></servlet-mapping>
<servlet><servlet-name>classic21</servlet-name><servlet-class>classic21</servlet-class></servlet><servlet-mapping><servlet-name>classic21</servlet-name><url-pattern>/servlet/classic21</url-pattern></servlet-mapping>
<servlet><servlet-name>classic22</servlet-name><servlet-class>classic22</servlet-class></servlet><servlet-mapping><servlet-name>classic22</servlet-name><url-pattern>/servlet/classic22</url-pattern></servlet-mapping>
<servlet><servlet-name>classic23</servlet-name><servlet-class>classic23</servlet-class></servlet><servlet-mapping><servlet-name>classic23</servlet-name><url-pattern>/servlet/classic23</url-pattern></servlet-mapping>
<servlet><servlet-name>classic24</servlet-name><servlet-class>classic24</servlet-class></servlet><servlet-mapping><servlet-name>classic24</servlet-name><url-pattern>/servlet/classic24</url-pattern></servlet-mapping>
<servlet><servlet-name>classic25</servlet-name><servlet-class>classic25</servlet-class></servlet><servlet-mapping><servlet-name>classic25</servlet-name><url-pattern>/servlet/classic25</url-pattern></servlet-mapping>
<servlet><servlet-name>classic26</servlet-name><servlet-class>classic26</servlet-class></servlet><servlet-mapping><servlet-name>classic26</servlet-name><url-pattern>/servlet/classic26</url-pattern></servlet-mapping>
<servlet><servlet-name>classic27</servlet-name><servlet-class>classic27</servlet-class></servlet><servlet-mapping><servlet-name>classic27</servlet-name><url-pattern>/servlet/classic27</url-pattern></servlet-mapping>
<servlet><servlet-name>classic28</servlet-name><servlet-class>classic28</servlet-class></servlet><servlet-mapping><servlet-name>classic28</servlet-name><url-pattern>/servlet/classic28</url-pattern></servlet-mapping>
<servlet><servlet-name>classic29</servlet-name><servlet-class>classic29</servlet-class></servlet><servlet-mapping><servlet-name>classic29</servlet-name><url-pattern>/servlet/classic29</url-pattern></servlet-mapping>
<servlet><servlet-name>classic30</servlet-name><servlet-class>classic30</servlet-class></servlet><servlet-mapping><servlet-name>classic30</servlet-name><url-pattern>/servlet/classic30</url-pattern></servlet-mapping>
<servlet><servlet-name>classic31</servlet-name><servlet-class>classic31</servlet-class></servlet><servlet-mapping><servlet-name>classic31</servlet-name><url-pattern>/servlet/classic31</url-pattern></servlet-mapping>
<servlet><servlet-name>classic32</servlet-name><servlet-class>classic32</servlet-class></servlet><servlet-mapping><servlet-name>classic32</servlet-name><url-pattern>/servlet/classic32</url-pattern></servlet-mapping>
<servlet><servlet-name>classic33</servlet-name><servlet-class>classic33</servlet-class></servlet><servlet-mapping><servlet-name>classic33</servlet-name><url-pattern>/servlet/classic33</url-pattern></servlet-mapping>
<servlet><servlet-name>classic34</servlet-name><servlet-class>classic34</servlet-class></servlet><servlet-mapping><servlet-name>classic34</servlet-name><url-pattern>/servlet/classic34</url-pattern></servlet-mapping>
<servlet><servlet-name>classic35</servlet-name><servlet-class>classic35</servlet-class></servlet><servlet-mapping><servlet-name>classic35</servlet-name><url-pattern>/servlet/classic35</url-pattern></servlet-mapping>
<servlet><servlet-name>classic36</servlet-name><servlet-class>classic36</servlet-class></servlet><servlet-mapping><servlet-name>classic36</servlet-name><url-pattern>/servlet/classic36</url-pattern></servlet-mapping>
<servlet><servlet-name>classic37</servlet-name><servlet-class>classic37</servlet-class></servlet><servlet-mapping><servlet-name>classic37</servlet-name><url-pattern>/servlet/classic37</url-pattern></servlet-mapping>
<servlet><servlet-name>classic38</servlet-name><servlet-class>classic38</servlet-class></servlet><servlet-mapping><servlet-name>classic38</servlet-name><url-pattern>/servlet/classic38</url-pattern></servlet-mapping>
<servlet><servlet-name>classic39</servlet-name><servlet-class>classic39</servlet-class></servlet><servlet-mapping><servlet-name>classic39</servlet-name><url-pattern>/servlet/classic39</url-pattern></servlet-mapping>
<servlet><servlet-name>classic40</servlet-name><servlet-class>classic40</servlet-class></servlet><servlet-mapping><servlet-name>classic40</servlet-name><url-pattern>/servlet/classic40</url-pattern></servlet-mapping>
<servlet><servlet-name>classic41</servlet-name><servlet-class>classic41</servlet-class></servlet><servlet-mapping><servlet-name>classic41</servlet-name><url-pattern>/servlet/classic41</url-pattern></servlet-mapping>
<servlet><servlet-name>classic42</servlet-name><servlet-class>classic42</servlet-class></servlet><servlet-mapping><servlet-name>classic42</servlet-name><url-pattern>/servlet/classic42</url-pattern></servlet-mapping>
<servlet><servlet-name>classic43</servlet-name><servlet-class>classic43</servlet-class></servlet><servlet-mapping><servlet-name>classic43</servlet-name><url-pattern>/servlet/classic43</url-pattern></servlet-mapping>
<servlet><servlet-name>classic44</servlet-name><servlet-class>classic44</servlet-class></servlet><servlet-mapping><servlet-name>classic44</servlet-name><url-pattern>/servlet/classic44</url-pattern></servlet-mapping>
<servlet><servlet-name>classic45</servlet-name><servlet-class>classic45</servlet-class></servlet><servlet-mapping><servlet-name>classic45</servlet-name><url-pattern>/servlet/classic45</url-pattern></servlet-mapping>
<servlet><servlet-name>classic46</servlet-name><servlet-class>classic46</servlet-class></servlet><servlet-mapping><servlet-name>classic46</servlet-name><url-pattern>/servlet/classic46</url-pattern></servlet-mapping>
<servlet><servlet-name>classic47</servlet-name><servlet-class>classic47</servlet-class></servlet><servlet-mapping><servlet-name>classic47</servlet-name><url-pattern>/servlet/classic47</url-pattern></servlet-mapping>
<servlet><servlet-name>classic48</servlet-name><servlet-class>classic48</servlet-class></servlet><servlet-mapping><servlet-name>classic48</servlet-name><url-pattern>/servlet/classic48</url-pattern></servlet-mapping>
<servlet><servlet-name>classic49</servlet-name><servlet-class>classic49</servlet-class></servlet><servlet-mapping><servlet-name>classic49</servlet-name><url-pattern>/servlet/classic49</url-pattern></servlet-mapping>
<servlet><servlet-name>classic50</servlet-name><servlet-class>classic50</servlet-class></servlet><servlet-mapping><servlet-name>classic50</servlet-name><url-pattern>/servlet/classic50</url-pattern></servlet-mapping>
<servlet><servlet-name>classic51</servlet-name><servlet-class>classic51</servlet-class></servlet><servlet-mapping><servlet-name>classic51</servlet-name><url-pattern>/servlet/classic51</url-pattern></servlet-mapping>
<servlet><servlet-name>classic52</servlet-name><servlet-class>classic52</servlet-class></servlet><servlet-mapping><servlet-name>classic52</servlet-name><url-pattern>/servlet/classic52</url-pattern></servlet-mapping>
<servlet><servlet-name>classic53</servlet-name><servlet-class>classic53</servlet-class></servlet><servlet-mapping><servlet-name>classic53</servlet-name><url-pattern>/servlet/classic53</url-pattern></servlet-mapping>
<servlet><servlet-name>classic54</servlet-name><servlet-class>classic54</servlet-class></servlet><servlet-mapping><servlet-name>classic54</servlet-name><url-pattern>/servlet/classic54</url-pattern></servlet-mapping>
<servlet><servlet-name>classic55</servlet-name><servlet-class>classic55</servlet-class></servlet><servlet-mapping><servlet-name>classic55</servlet-name><url-pattern>/servlet/classic55</url-pattern></servlet-mapping>
<servlet><servlet-name>classic56</servlet-name><servlet-class>classic56</servlet-class></servlet><servlet-mapping><servlet-name>classic56</servlet-name><url-pattern>/servlet/classic56</url-pattern></servlet-mapping>
<servlet><servlet-name>classic57</servlet-name><servlet-class>classic57</servlet-class></servlet><servlet-mapping><servlet-name>classic57</servlet-name><url-pattern>/servlet/classic57</url-pattern></servlet-mapping>
<servlet><servlet-name>classic58</servlet-name><servlet-class>classic58</servlet-class></servlet><servlet-mapping><servlet-name>classic58</servlet-name><url-pattern>/servlet/classic58</url-pattern></servlet-mapping>
<servlet><servlet-name>classic59</servlet-name><servlet-class>classic59</servlet-class></servlet><servlet-mapping><servlet-name>classic59</servlet-name><url-pattern>/servlet/classic59</url-pattern></servlet-mapping>
<servlet><servlet-name>classic60</servlet-name><servlet-class>classic60</servlet-class></servlet><servlet-mapping><servlet-name>classic60</servlet-name><url-pattern>/servlet/classic60</url-pattern></servlet-mapping>
<servlet><servlet-name>classic61</servlet-name><servlet-class>classic61</servlet-class></servlet><servlet-mapping><servlet-name>classic61</servlet-name><url-pattern>/servlet/classic61</url-pattern></servlet-mapping>

<servlet><servlet-name>classic62</servlet-name><servlet-class>classic62</servlet-class></servlet><servlet-mapping><servlet-name>classic62</servlet-name><url-pattern>/servlet/classic62</url-pattern></servlet-mapping>
<servlet><servlet-name>classic63</servlet-name><servlet-class>classic63</servlet-class></servlet><servlet-mapping><servlet-name>classic63</servlet-name><url-pattern>/servlet/classic63</url-pattern></servlet-mapping>
<servlet><servlet-name>classic64</servlet-name><servlet-class>classic64</servlet-class></servlet><servlet-mapping><servlet-name>classic64</servlet-name><url-pattern>/servlet/classic64</url-pattern></servlet-mapping>
<servlet><servlet-name>classic65</servlet-name><servlet-class>classic65</servlet-class></servlet><servlet-mapping><servlet-name>classic65</servlet-name><url-pattern>/servlet/classic65</url-pattern></servlet-mapping>
<servlet><servlet-name>classic66</servlet-name><servlet-class>classic66</servlet-class></servlet><servlet-mapping><servlet-name>classic66</servlet-name><url-pattern>/servlet/classic66</url-pattern></servlet-mapping>
<servlet><servlet-name>classic67</servlet-name><servlet-class>classic67</servlet-class></servlet><servlet-mapping><servlet-name>classic67</servlet-name><url-pattern>/servlet/classic67</url-pattern></servlet-mapping>
<servlet><servlet-name>classic68</servlet-name><servlet-class>classic68</servlet-class></servlet><servlet-mapping><servlet-name>classic68</servlet-name><url-pattern>/servlet/classic68</url-pattern></servlet-mapping>
<servlet><servlet-name>classic69</servlet-name><servlet-class>classic69</servlet-class></servlet><servlet-mapping><servlet-name>classic69</servlet-name><url-pattern>/servlet/classic69</url-pattern></servlet-mapping>
<servlet><servlet-name>classic70</servlet-name><servlet-class>classic70</servlet-class></servlet><servlet-mapping><servlet-name>classic70</servlet-name><url-pattern>/servlet/classic70</url-pattern></servlet-mapping>
<servlet><servlet-name>classic71</servlet-name><servlet-class>classic71</servlet-class></servlet><servlet-mapping><servlet-name>classic71</servlet-name><url-pattern>/servlet/classic71</url-pattern></servlet-mapping>
<servlet><servlet-name>classic72</servlet-name><servlet-class>classic72</servlet-class></servlet><servlet-mapping><servlet-name>classic72</servlet-name><url-pattern>/servlet/classic72</url-pattern></servlet-mapping>
<servlet><servlet-name>classic73</servlet-name><servlet-class>classic73</servlet-class></servlet><servlet-mapping><servlet-name>classic73</servlet-name><url-pattern>/servlet/classic73</url-pattern></servlet-mapping>
<servlet><servlet-name>classic74</servlet-name><servlet-class>classic74</servlet-class></servlet><servlet-mapping><servlet-name>classic74</servlet-name><url-pattern>/servlet/classic74</url-pattern></servlet-mapping>
<servlet><servlet-name>classic75</servlet-name><servlet-class>classic75</servlet-class></servlet><servlet-mapping><servlet-name>classic75</servlet-name><url-pattern>/servlet/classic75</url-pattern></servlet-mapping>
<servlet><servlet-name>classic76</servlet-name><servlet-class>classic76</servlet-class></servlet><servlet-mapping><servlet-name>classic76</servlet-name><url-pattern>/servlet/classic76</url-pattern></servlet-mapping>
<servlet><servlet-name>classic77</servlet-name><servlet-class>classic77</servlet-class></servlet><servlet-mapping><servlet-name>classic77</servlet-name><url-pattern>/servlet/classic77</url-pattern></servlet-mapping>
<servlet><servlet-name>classic78</servlet-name><servlet-class>classic78</servlet-class></servlet><servlet-mapping><servlet-name>classic78</servlet-name><url-pattern>/servlet/classic78</url-pattern></servlet-mapping>
<servlet><servlet-name>classic79</servlet-name><servlet-class>classic79</servlet-class></servlet><servlet-mapping><servlet-name>classic79</servlet-name><url-pattern>/servlet/classic79</url-pattern></servlet-mapping>
<servlet><servlet-name>classic80</servlet-name><servlet-class>classic80</servlet-class></servlet><servlet-mapping><servlet-name>classic80</servlet-name><url-pattern>/servlet/classic80</url-pattern></servlet-mapping>
<servlet><servlet-name>classic81</servlet-name><servlet-class>classic81</servlet-class></servlet><servlet-mapping><servlet-name>classic81</servlet-name><url-pattern>/servlet/classic81</url-pattern></servlet-mapping>
<servlet><servlet-name>classic82</servlet-name><servlet-class>classic82</servlet-class></servlet><servlet-mapping><servlet-name>classic82</servlet-name><url-pattern>/servlet/classic82</url-pattern></servlet-mapping>
<servlet><servlet-name>classic83</servlet-name><servlet-class>classic83</servlet-class></servlet><servlet-mapping><servlet-name>classic83</servlet-name><url-pattern>/servlet/classic83</url-pattern></servlet-mapping>
<servlet><servlet-name>classic84</servlet-name><servlet-class>classic84</servlet-class></servlet><servlet-mapping><servlet-name>classic84</servlet-name><url-pattern>/servlet/classic84</url-pattern></servlet-mapping>
<servlet><servlet-name>classic85</servlet-name><servlet-class>classic85</servlet-class></servlet><servlet-mapping><servlet-name>classic85</servlet-name><url-pattern>/servlet/classic85</url-pattern></servlet-mapping>
<servlet><servlet-name>classic86</servlet-name><servlet-class>classic86</servlet-class></servlet><servlet-mapping><servlet-name>classic86</servlet-name><url-pattern>/servlet/classic86</url-pattern></servlet-mapping>
<servlet><servlet-name>classic87</servlet-name><servlet-class>classic87</servlet-class></servlet><servlet-mapping><servlet-name>classic87</servlet-name><url-pattern>/servlet/classic87</url-pattern></servlet-mapping>
<servlet><servlet-name>classic88</servlet-name><servlet-class>classic88</servlet-class></servlet><servlet-mapping><servlet-name>classic88</servlet-name><url-pattern>/servlet/classic88</url-pattern></servlet-mapping>
<servlet><servlet-name>classic89</servlet-name><servlet-class>classic89</servlet-class></servlet><servlet-mapping><servlet-name>classic89</servlet-name><url-pattern>/servlet/classic89</url-pattern></servlet-mapping>
<servlet><servlet-name>classic90</servlet-name><servlet-class>classic90</servlet-class></servlet><servlet-mapping><servlet-name>classic90</servlet-name><url-pattern>/servlet/classic90</url-pattern></servlet-mapping>
<servlet><servlet-name>classic91</servlet-name><servlet-class>classic91</servlet-class></servlet><servlet-mapping><servlet-name>classic91</servlet-name><url-pattern>/servlet/classic91</url-pattern></servlet-mapping>
<servlet><servlet-name>classic92</servlet-name><servlet-class>classic92</servlet-class></servlet><servlet-mapping><servlet-name>classic92</servlet-name><url-pattern>/servlet/classic92</url-pattern></servlet-mapping>
<servlet><servlet-name>classic93</servlet-name><servlet-class>classic93</servlet-class></servlet><servlet-mapping><servlet-name>classic93</servlet-name><url-pattern>/servlet/classic93</url-pattern></servlet-mapping>
<servlet><servlet-name>classic94</servlet-name><servlet-class>classic94</servlet-class></servlet><servlet-mapping><servlet-name>classic94</servlet-name><url-pattern>/servlet/classic94</url-pattern></servlet-mapping>
<servlet><servlet-name>classic95</servlet-name><servlet-class>classic95</servlet-class></servlet><servlet-mapping><servlet-name>classic95</servlet-name><url-pattern>/servlet/classic95</url-pattern></servlet-mapping>
<servlet><servlet-name>front_product</servlet-name><servlet-class>front_product</servlet-class></servlet><servlet-mapping><servlet-name>front_product</servlet-name><url-pattern>/servlet/front_product</url-pattern></servlet-mapping>

<servlet><servlet-name>imagetest</servlet-name><servlet-class>imagetest</servlet-class></servlet><servlet-mapping><servlet-name>imagetest</servlet-name><url-pattern>/servlet/imagetest</url-pattern></servlet-mapping>


</web-app>
